.top_container{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_container_title_container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button_add{
    background-color: #305555;
    color: #fff;
    border: none;
}

.top_container_title{
    color: #4a4a4a;
    font-weight: 600;
}

.top_container_subtitle{
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    letter-spacing: -2px;
    font-weight: 100;
}

.container{
    width: 100%;
    padding: 30px;
    margin: 30px;
    background-color: #fff;
    box-shadow: 0 2px 6px #0000002c;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.image_container{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}


.button_image{
    width: 250px;
    min-width: 250px;
    height: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 2px solid #bcbcbc;
    border-style: dashed;
    font-weight: 700;
    color: #000;
    font-family: 'Montserrat Bold';
    cursor: pointer;
}

.image_add_container{
    width: 250px;
    height: 200px;
}

.image{
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.room_detail_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.room_detail_title{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat Bold';
}

.room_detail{
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.input_text{
    width: 260px;
}

.dropdown{
    width: 260px;
}


.room_ammenties_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.room_ammenties_title{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat Bold';
}

.room_ammenties{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.room_ammenties_check_container{
    display: flex;
    width: 250px;
    gap: 30px;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
}

.room_description_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.room_description_title{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat Bold';
}

.room_description_textarea{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #c7c7c7;
    resize: none;
}

.button_list{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;  
    gap: 20px; 
}

.add_dimension{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.add_dimension label{
    font-size: 14px;
    font-weight: 600;
}

.input_container_add_container{
    display: flex;
    gap: 10px;
}
.input_add_dimension{
    width: 70px;
}

.select_container{
    width: 250px;
}

.input_title{
    width: 400px;
}

.room_specification{
    display: flex;
    gap: 60px;
    align-items: flex-end;
}

.add_keywords{
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    gap: 10px;
    height: fit-content;
}

.chip{
    background-color: #d4e4e2;
    border-radius: 5px;
}