.container{
    margin-left: 300px;
    margin-top: 105px;
    transition: all 0.5s;
    width: calc(100vw - 300px);
    min-height: calc(100vh - 105px);
}

.container_mini{
    margin-left: 60px;
    margin-top: 105px;
    transition: all 0.5s;
    width: calc(100vw - 60px);
    min-height: calc(100vh - 105px);
}