.container{
    margin: 40px 10vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter_header_top{
    margin: 0 -10vw;
    width: 100vw;
    position: relative;
    background-color: #305555;
    height: 240px;
    margin-bottom: 40px;
}

.filter_header_top_title_container{
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: #305555;
    gap: 15px;
    padding: 40px 10vw 70px 10vw;
}

.filter_parent{
    width: 100%;
    position: absolute;
    padding: 0 10vw;
}

.filter_header_top_title{
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    letter-spacing: -2px;
}

.filter_header_top_subtitle{
    font-weight: 600;
}


.filter_header_container{
    display: flex;
}

.filter_header_left{
    font-size: 16px;
}
.filter_header_left_bold{
    font-family: 'Montserrat Bold';
}

.filter_container{
    display: flex;
    gap: 20px;
}

.filter_left{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter_right{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}