@font-face {
    font-family: 'Montserrat';
    src: url(./font/Montserrat-Regular.ttf);
    display: swap;
}
@font-face {
    font-family: 'Montserrat Bold';
    src: url(./font/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'Montserrat Semibold';
    src: url(./font/Montserrat-SemiBold.ttf);
}

*{
    font-family: 'Montserrat';
}
body{
    padding: 0;
    margin: 0;
    background-color: #D4E4E2;
    overflow-x: hidden;
}

.button-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 40px;
    color: #fff;
    font-weight: 700;
    background-color: #305555;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.button-primary:hover{
    background-color: #3a6666;
}
.button-primary:disabled{
    background-color: #3055554D;
}
.button-secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 40px;
    color: #305555;
    font-weight: 700;
    background-color: #fff;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.nprogress-busy{
    display: none;
}

.p-paginator{
    background-color: transparent;
    color: #000;
    display: flex;
    gap: 30px;
}

.p-paginator-pages{
    display: flex;
    gap: 30px;
}

.p-paginator-page{
    border-radius: 0px;
    border: 1px solid #305555;
    font-weight: 700; 
}

.p-highlight{
    background-color: #305555;
    color: #fff;
}

.p-paginator-next{
    border-radius: 0px;
    border: 1px solid #305555;
    font-weight: 700;   
}

.p-paginator-prev{
    border-radius: 0px;
    border: 1px solid #305555;
    font-weight: 700;   
}

.p-paginator-first{
    display: none;
}
.p-paginator-last{
    display: none;
}

.p-dataview{
    background-color: transparent;
}

.p-dataview-content{
    background-color: transparent;
}