.container{
    margin: 200px 40px 100px 40px;
    background-color: #fff;
    box-shadow: 0 2px 6px #0000002c;
    border-radius: 5px;
    display: flex;
}

.left_container{
    width: 40%;
    background-color: #305555;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.stepper{
    width: 100%;
}

.right_container{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    gap: 100px;
}

.top_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.top_title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 32px;
    letter-spacing: -2px;
}

.top_subtitle{
    font-size: 16px;
    font-weight: 600;
}


.email_formulaire_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
}


.form_group{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 60%;
}

.form_group_input{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}


.form_label{
    position: relative;
    line-height: 20px;
    font-weight: 700;
    font-size: 15px;
}


.form_input{
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border: 2px solid #0002;
    overflow: hidden;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 14px; 
    font-weight: 500;
}







.list_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.button_container{
    width: 60%;
    height: 128px;
    background-color: #fff;
    box-shadow: 0 2px 6px #0000007e;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    text-decoration: none;
    
    .button_text{
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #000;
    }

    .button_text_title{
        font-size: 18px;
        font-family: 'Montserrat Bold';
    }
    .button_text_subtitle{
        color: #202020;
        font-weight: 600;
        font-size: 16px;
    }
}

.button_container_active{
    width: 60%;
    height: 128px;
    background-color: #305555;
    box-shadow: 0 2px 6px #0000007e;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    text-decoration: none;

    .button_text{
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #fff;
    }

    .button_text_title{
        font-size: 18px;
        font-family: 'Montserrat Bold';
    }
    .button_text_subtitle{
        color: #e3e3e3;
        font-weight: 600;
        font-size: 16px;
    }
}

.image_icon{
    min-width: 30px!important;
    min-height: 30px;
}

.icon{
    width: 100%;
    height: 100%;
}

.button_text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000;
}

.button_text_title{
    font-size: 18px;
    font-family: 'Montserrat Bold';
}
.button_text_subtitle{
    color: #202020;
    font-weight: 600;
    font-size: 16px;
}


.accommodation_1_parent{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 100%;
    padding:0 50px;
}

.accommodation_1_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 100px;
}


.left_accommodation_1{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.right_accommodation_1{
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.rate{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-start;
    font-weight: 700;
    width: 60%;
}

.rate_input{
    display: flex;
    align-items: center;
    gap: 10px;
}

.rate_input_label{
    font-size: 11px;
}

.addSocial{
    width: 250px;
    background-color: transparent;
    border: 2.5px solid #000;
    font-weight: 700;
    color: #000;
    align-self: flex-start;
}