.container{
    width: 100%;
    background-color: #eaf7f5;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    gap: 10px;
}

.dropdown{
    background-color: transparent;
    width: 200px;
    color: #000;
}

.dropdown_trigger{
    display: none;
}

.dropdown_label{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Montserrat Bold';
    font-weight: 600;
    color: #000;
}

.calendar{
    background-color: transparent;
    width: 200px;
}

.input_number{
    width: 200px;
    background-color: transparent;
}