.container{
    position: relative;
    width: 300px;
    height: 250px;
}

.map{
    width: 100%;
    height: 100%;
}

.button{
    position: absolute;
    bottom: 10px;
    left: 65px;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 40px;
    color: #fff;
    font-weight: 700;
    background-color: #305555;
    border-radius: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    z-index: 3;
}